.modalContent {
  background-color: var(--bg-claro);
  color: var(--texto-escuro);
  border-radius: 8px;
  padding: 0.5rem;
  width: 65%;
  box-shadow: rgba(0, 0, 0, 0.25);
  max-height: 95%;
  overflow-y: hidden;  
  margin: 0;
}

@media (max-width: 1000px) and (max-height: 1000px) {
  .modalContent {
    width: 96vw;
  }
}

.larguraModal {
  max-width: 750px;
}

.inputErro {
  border: 2px solid red;
  background-color: #fff0f0;
}

.msgErro {
  color: red;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.container h1 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 600;
  width: 100%;  
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.container p {
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
}

.sombra {
  box-shadow: 0 6px 19px rgba(0, 0, 75, 0.2);
}