.custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-alert {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 30%;
  min-width: 360px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.custom-alert-title {
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  margin: 0;
  display: flex;
}

.custom-alert-erro .custom-alert-title {
  color: red;
}

.custom-alert-message {
  margin: 10px 0px 20px;
  white-space: pre-line;
}

.custom-alert-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-alert-icon {
  font-size: 24px;
  line-height: 1;
  margin-top: 3px;
}

.custom-alert button {
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.custom-alert button:hover {
  opacity: 0.9;
}

.custom-alert-info button:first-child {
  /*background-color: #4caf50;*/
  color: white;
}

.custom-alert-info button:last-child {
  /*background-color: #f44336;*/
  color: white;
}

.splash-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 12px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 9999;
  animation: fadein 0.3s ease;
  min-width: 250px;
  min-height: 50px;
  text-align: center;
}

.splash-text {
  display: block;
  text-align: center;
}

.splash-icon {
  font-size: 20px;
  display: block;  
}

.splash-sucesso {
  border-left: 6px solid green;
}

.splash-erro {
  border-left: 6px solid red;
}

.splash-info {
  border-left: 6px solid blue;
}

.splash-aviso {
  border-left: 6px solid orange;
}

@keyframes fadein {
  from { opacity: 0; transform: translateX(-50%) translateY(10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}