.footer {
    background-color:var(--bg-theme);        
    text-align: center;
    width: 100vw;
    color: #fff;
    padding: 0.5em 0em 0.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social_list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    margin: 0em 0.5em;
    padding: 0px;    
}

.social_list li {
    margin: 0em 0.3em 0em 0.3em;
    font-size: 1.5em;
}

.social_list li:hover {
    cursor: pointer;
    color: var(--color-theme);
}

.copyright {
    margin-top: 0.1em;
    white-space: nowrap;
}

.copyright span{
    font-weight: bold;
    color: var(--color-theme);
    display: inline;
}

.espaco {
  width: 24px;
}

.medidas {
    width: 89%;
}

@media (max-width: 900px) and (max-height: 900px) {
.medidas {
    width: 95%;
}
}