.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-theme);
  padding: 0em 0.5rem;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-start;
}

.list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: right;
  flex: 1;
  gap: 1em;
}

@media (max-width: 600px), (max-height: 600px) {
  .list {
    gap: 0.5em;
  }
}

.item a 
{
  margin-right: 0em;
  font-weight: none;
  color: var(--texto-claro);
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
  font-size: 1.1rem;
}

.item a:hover {
  color: var(--color-theme);
}

.item a svg {
  display: block;  
  font-size: 2.2rem;
}

.fotoperfil{
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;  
}

a:hover .fotoperfil {
  border-color: var(--color-theme);
}

img {
  height: 25px;
  width: auto;
  display: block;
}

.iconemenu {
  height: 45px;
}

.logo {
  height: 70px;
  width: auto;
  display: block;
  padding: 0px;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

@media (max-width: 900px) and (max-height: 900px) {
  .logo {
    height: 40px;
  }
}